/*
    Based on Curtis Andrews's codepen:
    https://codepen.io/candrews/pen/XdGYpN
*/
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 94px; }

.dot {
  position: absolute;
  top: 41px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: #363636; }

.dot_1 {
  transform: translateX(-20px);
  animation: animateDot1 1.5s infinite; }

.dot_2 {
  transform: translateX(0px);
  animation: animateDot2 1.5s infinite; }

.dot_3 {
  transform: translateX(20px);
  animation: animateDot3 1.5s infinite; }

@keyframes animateDot1 {
  0% {
    transform: translateX(-20px); }
  12.5% {
    transform: translateX(-35px); }
  37.5% {
    transform: translateX(-12px); }
  62.5% {
    transform: translateX(-20px); }
  100% {
    transform: translateX(-20px); } }
@keyframes animateDot2 {
  0% {
    transform: translateX(-12px); }
  37% {
    transform: translateX(0px); }
  50% {
    transform: translateX(12px); }
  88% {
    transform: translateX(0px); }
  100% {
    transform: translateX(-12px); } }
@keyframes animateDot3 {
  12.5% {
    transform: translateX(-15px 20px); }
  50% {
    transform: translateX(20px); }
  62.5% {
    transform: translateX(35px); }
  87.5% {
    transform: translateX(12px); } }
@font-face {
  font-family: Avenir;
  src: url("../fonts/AvenirNextLTPro-Regular.otf"); }
body {
  line-height: normal; }

#content {
  height: 100%; }

#frame {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 2em;
  background: #ffe9bc; }

.button {
  font-weight: 600;
  background: transparent;
  padding: 1.4em 3.5em;
  letter-spacing: 0.25em; }

#req_btn {
  border: 5px solid #ff6347;
  color: #ff6347; }
  #req_btn:hover {
    transition: all 0.5s ease;
    background: #ff6347;
    color: #fafafa; }

#req_txt {
  text-align: center;
  letter-spacing: 0.04em;
  font-family: 'Montserrat', sans-serif; }
  #req_txt > p {
    font-size: 2em;
    color: #b019f1;
    margin: 2em 0; }
  #req_txt > h1 {
    margin-top: 3.5em;
    color: #004e4e; }

#water_txt {
  text-align: center;
  letter-spacing: 0.04em;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: #b019f1;
  margin-top: 5em; }
  #water_txt img {
    display: block;
    margin: 2em auto; }

#video_section {
  text-align: center;
  padding-top: 5em; }
  #video_section video.snapped {
    display: none; }
  #video_section canvas {
    display: none;
    background: red; }
    #video_section canvas.snapped {
      display: inline-block; }
  #video_section button {
    font-size: 1.5em; }
    #video_section button.snapped {
      background: rgba(0, 78, 78, 0.17);
      opacity: 1; }
  #video_section #err_msg {
    padding: 1em 0;
    text-align: center;
    letter-spacing: 0.04em;
    font-family: 'Montserrat', sans-serif; }

#snap {
  display: block;
  border: none;
  width: 500px;
  background: #004e4e;
  color: #fafafa;
  margin: 0 auto; }
  #snap:hover {
    transition: all 0.5s ease;
    background: #ff6347;
    color: #fafafa; }

#result {
  margin: 0;
  height: 100%; }

#label_section {
  text-align: center;
  padding: 8em;
  height: 100%; }

#label_txt {
  text-align: center;
  color: #004e4e;
  font-size: 2em;
  margin-bottom: 1em;
  font-family: 'Montserrat', sans-serif; }

#beverage_section {
  background: #fcee77;
  padding: 8em;
  height: 100%; }
  #beverage_section h1 {
    font-family: 'Raleway', sans-serif;
    margin: 0; }
  #beverage_section h2 {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0; }
  #beverage_section h3 {
    font-family: 'Avenir', sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em; }
  #beverage_section #beverage_tag_table {
    margin: 0 auto;
    font-size: 1.5em; }
  #beverage_section .beverage_tag {
    text-align: right;
    padding: 0 1em;
    color: #be3f07;
    color: #e64d26;
    font-family: 'Raleway', sans-serif;
    font-weight: bold; }

/*# sourceMappingURL=main.css.map */
